<div class="footer-content">

    <div class="footer-content">

        <ul>
            <li><a href="https://www.linkedin.com/in/caio-rodri/" target="_blank">Linkedin</a></li>
            <li><a href="https://www.linkedin.com/in/caio-rodri/" target="_blank">Linkedin</a></li>
            <li><a href="https://www.linkedin.com/in/caio-rodri/" target="_blank">Linkedin</a></li>
        </ul>

    </div>
    <div class="footer-content">

        <ul>
            <li><a href="https://github.com/caiorodri/angular-buzzfeed" target="_blank">Repositório</a></li>
        </ul>
    </div>

    <div class="footer-content">

        <ul>
            <li><a href="https://github.com/caiorodri" target="_blank">GitHub</a></li>
            <li><a href="https://github.com/caiorodri" target="_blank">GitHub</a></li>
            <li><a href="https://github.com/caiorodri" target="_blank">GitHub</a></li>
        </ul>

    </div>

</div>