* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #faebd7;
    font-family: 'SEGOE UI';
}

body {

    background-color: #1f1147;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}